<div class="form-container">
  <h2>Register</h2>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="form-group" [ngClass]="{ 'has-error': registerForm.get('userName')?.invalid && (registerForm.get('userName')?.touched || registerForm.get('userName')?.dirty) }">
      <label for="userName">User Name</label>
      <input type="text" id="userName" formControlName="userName" required />
      <div class="error-message" *ngIf="registerForm.get('userName')?.invalid && (registerForm.get('userName')?.touched || registerForm.get('userName')?.dirty)">
        <small>User Name is required.</small>
      </div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': registerForm.get('name')?.invalid && (registerForm.get('name')?.touched || registerForm.get('name')?.dirty) }">
      <label for="name">Name</label>
      <input type="text" id="name" formControlName="name" required />
      <div class="error-message" *ngIf="registerForm.get('name')?.invalid && (registerForm.get('name')?.touched || registerForm.get('name')?.dirty)">
        <small>Name is required.</small>
      </div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': registerForm.get('lastName')?.invalid && (registerForm.get('lastName')?.touched || registerForm.get('lastName')?.dirty) }">
      <label for="lastName">Last Name</label>
      <input type="text" id="lastName" formControlName="lastName" required />
      <div class="error-message" *ngIf="registerForm.get('lastName')?.invalid && (registerForm.get('lastName')?.touched || registerForm.get('lastName')?.dirty)">
        <small>Last Name is required.</small>
      </div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': registerForm.get('email')?.invalid && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty) }">
      <label for="email">Email</label>
      <input type="email" id="email" formControlName="email" required />
      <div class="error-message" *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty)">
        <small *ngIf="registerForm.get('email')?.errors?.['required']">Email is required.</small>
        <small *ngIf="registerForm.get('email')?.errors?.['email']">Please enter a valid email address.</small>
      </div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': registerForm.get('password')?.invalid && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty) }">
      <label for="password">Password</label>
      <div class="password-container">
        <input
        type="{{ showPassword ? 'text' : 'password' }}"
        id="password"
        formControlName="password"
        required
      />
      <button type="button" class="toggle-password" (click)="togglePasswordVisibility()">
        <fa-icon [icon]="showPassword ? faEyeSlash : faEye"></fa-icon>
      </button>
    </div>
      <div class="error-message" *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty)">
        <small *ngIf="registerForm.get('password')?.errors?.['required']">Password is required.</small>
        <small *ngIf="registerForm.get('password')?.errors?.['minlength']">Password must be at least 8 characters long.</small>
      </div>
    </div>
    <div *ngIf="registerForm.hasError('registerFailed')" class="form-error-message">
      Registration failed. Please try again.
    </div>
    <button type="submit" [disabled]="registerForm.invalid" class="register-button">Register</button>
  </form>

  <div class="login-link">
    <p>Already have an account?</p>
    <button class="login-button" routerLink="/login">Log In</button>
  </div>
</div>



<!-- <div class="register-container">
    <h2>Registro</h2>
    <form (submit)="register()">
      <div class="form-group">
        <label for="userName">Nombre de Usuario</label>
        <input type="text" id="userName" [(ngModel)]="userName" name="userName" required />
    </div>
      <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" id="name" [(ngModel)]="name" name="name" required />
      </div>
      <div class="form-group">
        <label for="lastName">Apellido</label>
        <input type="text" id="lastName" [(ngModel)]="lastName" name="lastName" required />
      </div>
      <div class="form-group">
        <label for="email">Correo electrónico</label>
        <input type="email" id="email" [(ngModel)]="email" name="email" required />
      </div>
      <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" id="password" [(ngModel)]="password" name="password" required />
      </div>
      <button type="submit">Registrar</button>
    </form>
  </div>
   -->
