<div class="form-container">
    <h2>Your Profile</h2>
  
    <!-- Formulario de Edición del Perfil -->
    <form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
      <!-- Campos de perfil -->
      <div
        class="form-group"
        [ngClass]="{ 'has-error': profileForm.get('userName')?.invalid && (profileForm.get('userName')?.touched || profileForm.get('userName')?.dirty) }"
      >
        <label for="userName">User Name</label>
        <input type="text" id="userName" formControlName="userName" required />
        <div class="error-message" *ngIf="profileForm.get('userName')?.invalid && (profileForm.get('userName')?.touched || profileForm.get('userName')?.dirty)">
          <small>User Name is required.</small>
        </div>
      </div>
  
      <div
        class="form-group"
        [ngClass]="{ 'has-error': profileForm.get('name')?.invalid && (profileForm.get('name')?.touched || profileForm.get('name')?.dirty) }"
      >
        <label for="name">Name</label>
        <input type="text" id="name" formControlName="name" required />
        <div class="error-message" *ngIf="profileForm.get('name')?.invalid && (profileForm.get('name')?.touched || profileForm.get('name')?.dirty)">
          <small>Name is required.</small>
        </div>
      </div>
  
      <div
        class="form-group"
        [ngClass]="{ 'has-error': profileForm.get('lastName')?.invalid && (profileForm.get('lastName')?.touched || profileForm.get('lastName')?.dirty) }"
      >
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" formControlName="lastName" required />
        <div class="error-message" *ngIf="profileForm.get('lastName')?.invalid && (profileForm.get('lastName')?.touched || profileForm.get('lastName')?.dirty)">
          <small>Last Name is required.</small>
        </div>
      </div>
  
      <div
        class="form-group"
        [ngClass]="{ 'has-error': profileForm.get('email')?.invalid && (profileForm.get('email')?.touched || profileForm.get('email')?.dirty) }"
      >
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" required />
        <div class="error-message" *ngIf="profileForm.get('email')?.invalid && (profileForm.get('email')?.touched || profileForm.get('email')?.dirty)">
          <small *ngIf="profileForm.get('email')?.errors?.['required']">Email is required.</small>
          <small *ngIf="profileForm.get('email')?.errors?.['email']">Please enter a valid email address.</small>
        </div>
      </div>
  
      <!-- Sección de cambio de contraseña -->
      <h3>Change Password</h3>
  
      <div
        class="form-group"
        [ngClass]="{ 'has-error': profileForm.get('currentPassword')?.invalid && (profileForm.get('currentPassword')?.touched || profileForm.get('currentPassword')?.dirty) }"
      >
        <label for="currentPassword">Current Password</label>
        <div class="password-container">
            <input
            [type]="showCurrentPassword ? 'text' : 'password'"
            id="currentPassword"
            formControlName="currentPassword"
          />
          <button type="button" class="toggle-password" (click)="togglePasswordVisibility('currentPassword')">
            <fa-icon [icon]="showCurrentPassword ? faEyeSlash : faEye"></fa-icon>
          </button>
        </div>
        <div class="error-message" *ngIf="profileForm.get('currentPassword')?.invalid && (profileForm.get('currentPassword')?.touched || profileForm.get('currentPassword')?.dirty)">
          <small>Current password is required to update it.</small>
        </div>
      </div>
  
      <div
        class="form-group"
        [ngClass]="{ 'has-error': profileForm.get('newPassword')?.invalid && (profileForm.get('newPassword')?.touched || profileForm.get('newPassword')?.dirty) }"
      >
        <label for="newPassword">New Password</label>
        <div class="password-container">
            <input
            [type]="showNewPassword ? 'text' : 'password'"
            id="newPassword"
            formControlName="newPassword"
          />
          <button type="button" class="toggle-password" (click)="togglePasswordVisibility('newPassword')">
            <fa-icon [icon]="showNewPassword ? faEyeSlash : faEye"></fa-icon>
          </button>
        </div>
        <div class="error-message" *ngIf="profileForm.get('newPassword')?.invalid && (profileForm.get('newPassword')?.touched || profileForm.get('newPassword')?.dirty)">
          <small *ngIf="profileForm.get('newPassword')?.errors?.['minlength']">New password must be at least 8 characters long.</small>
        </div>
      </div>
      <div class="button-container">
        <button type="submit" [disabled]="profileForm.invalid" class="btn btn-primary">Save Changes</button>
        <button type="button" class="btn btn-secondary cancel-button" (click)="goBack()">Cancel</button>
        </div>
    </form>
  </div>
  

<!-- <div class="form-container">
    <h2>Your Profile</h2> -->
  
    <!-- Formulario de Edición del Perfil -->
    <!-- <form (ngSubmit)="updateProfile()"> -->
      <!-- Campos de perfil -->
      <!-- <div class="form-group">
        <label for="userName">User Name</label>
        <input id="userName" [(ngModel)]="user.userName" name="userName" class="form-control" required />
      </div>
      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" [(ngModel)]="user.name" name="name" class="form-control" required />
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input id="lastName" [(ngModel)]="user.lastName" name="lastName" class="form-control" required />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" [(ngModel)]="user.email" name="email" class="form-control" type="email" required />
      </div> -->
  
      <!-- Sección de cambio de contraseña -->
      <!-- <h3>Change Password</h3>
      <div class="form-group">
        <label for="currentPassword">Current Password</label>
        <div class="password-container">
          <input
            id="currentPassword"
            [(ngModel)]="passwordData.currentPassword"
            name="currentPassword"
            class="form-control"
            [type]="showCurrentPassword ? 'text' : 'password'"
          />
          <button type="button" class="toggle-password" (click)="togglePasswordVisibility('current')">
            <fa-icon [icon]="showCurrentPassword ? faEyeSlash : faEye"></fa-icon>
          </button>
        </div>
      </div>
      <div class="form-group">
        <label for="newPassword">New Password</label>
        <div class="password-container">
          <input
            id="newPassword"
            [(ngModel)]="passwordData.newPassword"
            name="newPassword"
            class="form-control"
            [type]="showNewPassword ? 'text' : 'password'"
          />
          <button type="button" class="toggle-password" (click)="togglePasswordVisibility('new')">
            <fa-icon [icon]="showNewPassword ? faEyeSlash : faEye"></fa-icon>
          </button>
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm New Password</label>
        <div class="password-container">
          <input
            id="confirmPassword"
            [(ngModel)]="passwordData.confirmPassword"
            name="confirmPassword"
            class="form-control"
            [type]="showConfirmPassword ? 'text' : 'password'"
          />
          <button type="button" class="toggle-password" (click)="togglePasswordVisibility('confirm')">
            <fa-icon [icon]="showConfirmPassword ? faEyeSlash : faEye"></fa-icon>
          </button>
        </div>
      </div> -->
  
      <!-- Botón de guardar cambios -->
      <!-- <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
  </div> -->
  





<!-- <div class="profile-container">
    <h2>Your Profile</h2>
  
    
    <form (ngSubmit)="updateProfile()">
      <div class="form-group">
        <label for="userName">User Name</label>
        <input id="userName" [(ngModel)]="user.userName" name="userName" class="form-control" required />
      </div>
      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" [(ngModel)]="user.name" name="name" class="form-control" required />
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input id="lastName" [(ngModel)]="user.lastName" name="lastName" class="form-control" required />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" [(ngModel)]="user.email" name="email" class="form-control" type="email" required />
      </div>
  
     
      <h3>Change Password</h3>
      <div class="form-group">
        <label for="currentPassword">Current Password</label>
        <div class="password-container">
          <input
            id="currentPassword"
            [(ngModel)]="passwordData.currentPassword"
            name="currentPassword"
            class="form-control"
            [type]="showCurrentPassword ? 'text' : 'password'"
          />
          <button type="button" class="toggle-password" (click)="togglePasswordVisibility('current')">
            <i class="fas" [ngClass]="showCurrentPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
          </button>
        </div>
      </div>
      <div class="form-group">
        <label for="newPassword">New Password</label>
        <div class="password-container">
          <input
            id="newPassword"
            [(ngModel)]="passwordData.newPassword"
            name="newPassword"
            class="form-control"
            [type]="showNewPassword ? 'text' : 'password'"
          />
          <button type="button" class="toggle-password" (click)="togglePasswordVisibility('new')">
            <i class="fas" [ngClass]="showNewPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
          </button>
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm New Password</label>
        <div class="password-container">
          <input
            id="confirmPassword"
            [(ngModel)]="passwordData.confirmPassword"
            name="confirmPassword"
            class="form-control"
            [type]="showConfirmPassword ? 'text' : 'password'"
          />
          <button type="button" class="toggle-password" (click)="togglePasswordVisibility('confirm')">
            <i class="fas" [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
          </button>
        </div>
      </div> -->
  
      <!-- <h3>Change Password</h3>
      <div class="form-group">
        <label for="currentPassword">Current Password</label>
        <input id="currentPassword" [(ngModel)]="passwordData.currentPassword" name="currentPassword" class="form-control" type="password" />
      </div>
      <div class="form-group">
        <label for="newPassword">New Password</label>
        <input id="newPassword" [(ngModel)]="passwordData.newPassword" name="newPassword" class="form-control" type="password" />
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm New Password</label>
        <input id="confirmPassword" [(ngModel)]="passwordData.confirmPassword" name="confirmPassword" class="form-control" type="password" />
      </div> -->
  
      <!-- Botón de guardar cambios -->
      <!-- <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
  </div> -->
  
<!-- <div class="profile-container">
    <h2>Your Profile</h2>
  
    
    <div class="tabs">
      <button [class.active]="activeTab === 'details'" (click)="setActiveTab('details')">Edit Profile</button>
      <button [class.active]="activeTab === 'password'" (click)="setActiveTab('password')">Change Password</button>
    </div>
  
   
    
    <div *ngIf="activeTab === 'details'">
      <form (ngSubmit)="updateProfile()">
        <div class="form-group">
          <label for="userName">User Name</label>
          <input id="userName" [(ngModel)]="user.userName" name="userName" class="form-control" required />
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input id="name" [(ngModel)]="user.name" name="name" class="form-control" required />
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input id="lastName" [(ngModel)]="user.lastName" name="lastName" class="form-control" required />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" [(ngModel)]="user.email" name="email" class="form-control" type="email" required />
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
      </form>
    </div>
  
    
    
    <div *ngIf="activeTab === 'password'">
      <form (ngSubmit)="changePassword()">
        <div class="form-group">
          <label for="currentPassword">Current Password</label>
          <input id="currentPassword" [(ngModel)]="passwordData.currentPassword" name="currentPassword" class="form-control" type="password" required />
        </div>
        <div class="form-group">
          <label for="newPassword">New Password</label>
          <input id="newPassword" [(ngModel)]="passwordData.newPassword" name="newPassword" class="form-control" type="password" required />
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm New Password</label>
          <input id="confirmPassword" [(ngModel)]="passwordData.confirmPassword" name="confirmPassword" class="form-control" type="password" required />
        </div>
        <button type="submit" class="btn btn-primary">Change Password</button>
      </form>
    </div>
  </div>
   -->